/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/*
!/log/.keep

# rspec failure tracking
/spec/examples.txt

.byebug_history
.env
proxy_*.id_rsa
dump.marshal
dump.yaml
.shell_history
